{% extends 'base.html' %}
{% load static %}

{% block corecss %}
    <!--Adds to the block-->
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/water_page.css' %}">
{% endblock %}

{% block header_content %}
{% endblock %}

{% block main_content %}
    <main class="content-water">
        <div class="water-container">
            <div>
                <h2 class="water-page-title">
                    {{ water_title }}
                </h2>
                <p class="water-page-paragraph">{{ water_paragraph_1|linebreaksbr }}</p>
                <p class="water-page-paragraph">{{ water_paragraph_2|linebreaksbr }}</p>
                <p class="water-page-paragraph">{{ water_paragraph_3|linebreaksbr }}</p>
                <p class="water-page-paragraph">{{ water_paragraph_4|linebreaksbr }}</p>
                <h3 class="water-page-subtitle">{{ water_composition_title }}</h3>
                <p class="water-page-paragraph">{{ water_composition_paragraph_1|linebreaksbr }}</p>
                <p class="water-page-paragraph">{{ water_composition_paragraph_2|linebreaksbr }}</p>
                <p class="water-page-paragraph">{{ water_composition_paragraph_3|linebreaksbr }}</p>
                <p class="water-page-paragraph">{{ water_composition_paragraph_4|linebreaksbr }}</p>
                <p class="water-page-paragraph last-water-paragraph">{{ water_composition_paragraph_5|linebreaksbr }}</p>
            </div>
            <div class="home-button-div">
                <a href="{% url 'homepage' %}" class="nunisi-button">
                    &lt;&lt; {{ site_header_home }}
                </a>
            </div>
        </div>
    </main>
{% endblock %}

{% block postloadjs %}
{% endblock %}