{% extends 'base.html' %}
{% load static %}

{% block corecss %}
    <!--Adds to the block-->
    {{ block.super }}
    <style>
        #index-hero {
            background-image:
                url("{{ MEDIA_URL }}v1742984202/hero-image_nntk8s.webp"),
                url("{{ MEDIA_URL }}hero-image.webp");
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/hero.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/page_break.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/book.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/about_us.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/water.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/spa.css' %}">



{% endblock %}

{% block header_content %}
{% endblock %}

{% block main_content %}
    {% include 'homepage/includes/header.html' %}
    <main class="content-index">
        <!--Hero Image-->
        {% include 'homepage/includes/hero_image.html' %}
        {% include 'homepage/includes/book.html' %}
        {% include 'homepage/includes/about_us.html' %}
        {% include 'homepage/includes/water.html' %}
        {% include 'homepage/includes/spa.html' %}
    </main>
{% endblock %}