{% extends 'base.html' %}
{% load static %}

{% block corecss %}
    <!--Adds to the block-->
    {{ block.super }}
    <style>
        .location-background {
            height: 10rem !important;
            width: 10rem;
            background-image: 
                url('{{ MEDIA_URL }}v1743431422/georgia-map_hm6ezv.webp'),
                url('{{ MEDIA_URL }}georgia_map.webp');
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/hero.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/book.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/about_us.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/water.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/services.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/location.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/reviews.css' %}">



{% endblock %}

{% block header_content %}
{% endblock %}

{% block main_content %}
    {% include 'homepage/includes/header.html' %}
    <main class="content-index">
        {% include 'homepage/includes/hero_image.html' %}
        {% include 'homepage/includes/book.html' %}
        {% include 'homepage/includes/about_us.html' %}
        {% include 'homepage/includes/water.html' %}
        {% include 'homepage/includes/services.html' %}
        {% include 'homepage/includes/book.html' %}
        {% include 'homepage/includes/location.html' %}
        {% include 'homepage/includes/reviews.html' %}
    </main>
{% endblock %}

{% block postloadjs %}
    <!-- <script>
        document.querySelectorAll(".navbar-nav .nav-link").forEach(function (link) {
            /**
             * Script to hide the homepage navbar burger menu when a link is clicked
             */
            link.addEventListener("click", function () {
                const navbarCollapse = new bootstrap.Collapse(
                    document.getElementById("navbarSupportedContent"),
                    {toggle: false}
                );
                navbarCollapse.hide();
            });
        });
    </script> -->
    <script src="{% static 'js/index.js' %}" defer></script>
{% endblock %}