/* ---------- Fonts ---------- */
/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jost&family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@700&family=Cormorant+Garamond:ital,wght@0,700;1,700&family=Playfair+Display+SC:ital,wght@0,700;1,700&family=Prata&family=Staatliches&family=Tenor+Sans&family=Unbounded:wght@700&family=Vollkorn+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

/* ---------- Global styling ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Body size and fixed footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Background colours */
.bg-nunisi-green {
    background-color: #3A6B35;
}

.bg-nunisi-gold {
    background-color: #FFD95B;
}

/* Border colours */
.border-dark-gold {
    border: 1px solid #b88c26;
}

/* Site background */
.content {
    min-height: calc(100vh - 336px);
    background-color: #FAF3DF;
}

/* Site buttons */
.nunisi-button {
}

.nunisi-button:hover {
}

/* ---------- Media-queries ---------- */

@media (max-width: 992px) {
    /* Update content height */
    .content {
        min-height: calc(100vh - 298px);
    }
}