<div class="container-fluid" id="index-about-us">
    <div class="row g-0">
        <div class="col-12 about-us-background-image">
            <img
                src="{% if DEBUG %}{{ MEDIA_URL }}resort-information-image-1.webp{% else %}https://i.imgur.com/Whvu0GU.png{% endif %}"
                alt="An arial view of Nunisi forest"
                loading="lazy"
            >
        </div>
        <div class="d-none d-lg-block col-6 about-us-empty-space">
        </div>
        <!--Desktop-->
        <div id="aboutUsCarousel" class="carousel slide col-12 col-lg-6 about-us-text" data-bs-ride="false">
            <!--Navigation buttons-->
            <div class="carousel-nav-buttons d-flex justify-content-end px-3 pt-2 position-absolute top-0 start-0 w-100 z-3">
                <button id="prevBtn" class="btn btn-outline-dark rounded-pill py-1 px-3 d-none" type="button"
                data-bs-target="#aboutUsCarousel" data-bs-slide="prev">
                ← {{ about_us_carousel_prev }}
                </button>
                <button id="nextBtn" class="btn btn-outline-dark rounded-pill py-1 px-3" type="button"
                data-bs-target="#aboutUsCarousel" data-bs-slide="next">
                {{ about_us_carousel_next }} →
                </button>
            </div>
            
            <div class="carousel-inner pt-5">
                <!-- Slide 1 -->
                <div class="carousel-item carousel-item-desktop active">
                <h3>{{ about_us_title }}</h3>
                <p>{{ about_us_paragraph }}</p>
                </div>
                <!-- Slide 2 -->
                <div class="carousel-item carousel-item-desktop">
                <h3>{{ about_us_legend }}</h3>
                <p>{{ about_us_legend_text_1 }}</p>
                <p>{{ about_us_legend_text_2 }}</p>
                </div>
            </div>
        </div>
    </div>
    <!--Mobile-->
    <div class="col-12 about-us-bottom-text">
        <h3>{{ about_us_title }}</h3>
        <p>{{ about_us_paragraph }}</p>
        <!--Accordion-->
        <div class="accordion" id="aboutUsAccordion">
            <div class="accordion-item about-us-accordion-item">
                <!--Accordion Header-->
                <h3 class="accordion-header about-us-accordion-header">
                    <!--Accordion Button-->
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ about_us_legend }}
                    </button>
                </h3>
                <!--Accordion body-->
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#aboutUsAccordion">
                    <div class="accordion-body about-us-accordion-body">
                        <p>{{ about_us_legend_text_1 }}</p>
                        <p>{{ about_us_legend_text_2 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
