<div class="container" id="index-about-us">
    <div class="row">
        <div class="col-12 col-lg-6" id="index-resort-image-column">
            <div id="resortInformationCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img
                            src="{% if DEBUG %}{{ MEDIA_URL }}resort-information-image-1.webp{% else %}{{ MEDIA_URL }}v1742992504/resort-information-image-1_usa9x2.webp{% endif %}"
                            class="d-block w-100"
                            alt="An arial view of Nunisi forest"
                            loading="lazy"
                        >
                    </div>
                    <div class="carousel-item">
                        <img 
                            src="{% if DEBUG %}{{ MEDIA_URL }}resort-information-image-2.webp{% else %}{{ MEDIA_URL }}v1742992504/resort-information-image-2_fcpjyc.webp{% endif %}"
                            class="d-block w-100"
                            alt="Another arial view of Nunisi forest"
                            loading="lazy"
                        >
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#resortInformationCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#resortInformationCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <article class="col-12 col-lg-6">
            <h2 class="section-title">About Us</h2>
            <p class="section-text">Located in the majestic Borjomi-Kharagauli National Park 750m above sea level and on the river Nunisitskali, sits the Nunisi Forest Hotel and Spa. Here we are graced with the unique local microclimate of deciduous and coniferous forest and high alkaline mineral water, making us perfectly situated for a relaxing and rejuvenating getaway for health and wellness seekers.</p><br>
            <p class="section-text">Legend goes that the healing properties of the surrounding waters were discovered by David the Builder, when the King was returning to Tbilisi after a fearsome battle. He was forced to rest in Nunisi, as his horses could not walk any further with ulcerated backs from the exhausting campaign. Bathing in the river water of Nunisi led to their speedy recovery and allowed the King to travel onward at an expediated rate.</p>
        </article>
    </div>
</div>
<hr class="index-horizontal-rule">
