<div id="booking-container">
    <h2 class="jost-font">
        Book now by calling us on
        <br class="booking-spacer">
        <span class="booking-phone-number">
            +959000000
        </span>
        <br class="booking-spacer">
        or book through
        <br class="booking-spacer">
        <a 
            class="booking-com-link"
            href="https://www.booking.com/hotel/ge/nunisi-forest-spa.html"
            aria-label = "Go to the booking.com page for Nunisi Hotel Forest and Spa"
            title="booking.com page"
            target="_blank"
            rel="noopener noreferrer"
        >
            Booking.com 
        </a>
    </h2>
</div>