<div class="container" id="index-faqs">
    <div class="row">
        <div class="col-12">
            <h2 class="section-title">FAQs</h2>
        </div>
        <!--FAQs: Desktop screens-->
        <div class="d-none d-lg-block col-4">
            <ul class="section-text faq-list">
                <li>
                    <p class="faq-question">Are there meals provided?</p>
                    <p class="faq-answer">Yes, all meals are complementary within the price of your stay. We serve breakfast at 10:00am, lunch at 14:30pm, and dinner at 19:00pm in our cantina.</p>
                </li>
                <li>
                    <p class="faq-question">What are the check in / check out times?</p>
                    <p class="faq-answer">You can check in with us any time after 14:00pm on the first day of your stay and check out before midday (12:00pm) on your final day.</p>
                </li>
                <li>
                    <p class="faq-question">What makes the waters in Nunisi so special?</p>
                    <p class="faq-answer">Our waters have high alkalinity with a pH of 8.3 with a low concentration of minerals making it highly refreshing and rejuvenating. There is also a higher than normal concentration of salicylic acid, which acts as an anti-inflammatory and a mild anti biotic, making bathing or showering here a great treatment for skin conditions such as psoriasis, eczema, or arthritis.</p>
                </li>
                <li>
                    <p class="faq-question">When were you founded?</p>
                    <p class="faq-answer">We have just exceeded 80 years of running the resort and introducing travellers from all over the world to the healing qualities of Nunisi’s rivers and mountain air, having been founded in 1940.</p>
                </li>
            </ul>
        </div>
        <div class="d-none d-lg-block col-4">
            <ul class="faq-list">
                <li>
                    <p class="faq-question">Is there a minimum age for getting a massage?</p>
                    <p class="faq-answer">Our massages are child-friendly and can help your children with many things ranging from bad posture to sunken arches, though we do recommend that children be over the age of 5 years.</p>
                </li>
                <li>
                    <p class="faq-question">Are there operating times on the rope way to access the resort?</p>
                    <p class="faq-answer">The ropeway operates between the hours of 09:00am and 23:00pm. Should you require to use it when it is on the other side of the river, please find one of our friendly members of staff and we can have it sent across for you. We ensure that the ropeway is available to guests when they arrive if an arrival time is agreed upon beforehand.</p>
                </li>
                <li>
                    <p class="faq-question">Is there any evening entertainment?</p>
                    <p class="faq-answer">Yes, we provide an outdoor bar and relaxation area including a bonfire for the colder months. Activities including discos, movies, and games are put on daily. There is also a billiards table available to guests.</p>
                </li>
                <li>
                    <p class="faq-question">Are pets allowed at the resort?</p>
                    <p class="faq-answer">We welcome guests with pets, however please be aware that there are resort cats and dogs in the hotel grounds so please ensure that your pet behaves well and gets along well with other pets.</p>
                </li>
            </ul>
        </div>
        <div class="d-none d-lg-block col-4">
            <ul class="faq-list">
                <li>
                    <p class="faq-question">Can infants come free of charge?</p>
                    <p class="faq-answer">Yes, we welcome guests with young children. You can bring your infant up to the age of 2 at no extra cost.</p>
                </li>
                <li>
                    <p class="faq-question">Do you offer any special packages or deals?</p>
                    <p class="faq-answer">Yes, we routinely offer deals to new and revisiting customers. Further details are released on our Facebook and Instagram pages. Alternatively you can sign up to our newsletter on your accounts page to never miss out on a deal.</p>
                </li>
                <li>
                    <p class="faq-question">How can I contact the hotel for more information or assistance?</p>
                    <p class="faq-answer">All contact details for the hotel can be found at the bottom of every page on this website.</p>
                </li>
                <li>
                    <p class="faq-question">What is your cancellation policy?</p>
                    <p class="faq-answer">You may cancel your reservation for a full refund up to 7 days before your stay. After that there is a 10% deposit fee up until 24 hours before your booked stay and a 20% deposit fee if you cancel within 24 hours of your booked stay.</p>
                </li>
            </ul>
        </div>
        <!--FAQs: Mobile screens-->
        <div class="d-lg-none col-12">
            <ul class="faq-list">
                <li>
                    <p class="faq-question">Are there meals provided?</p>
                    <p class="faq-answer">Yes, all meals are complementary within the price of your stay. We serve breakfast at 10:00am, lunch at 14:30pm, and dinner at 19:00pm in our cantina.</p>
                </li>
                <li>
                    <p class="faq-question">What are the check in / check out times?</p>
                    <p class="faq-answer">You can check in with us any time after 14:00pm on the first day of your stay and check out before midday (12:00pm) on your final day.</p>
                </li>
                <li>
                    <p class="faq-question">What makes the waters in Nunisi so special?</p>
                    <p class="faq-answer">Our waters have high alkalinity with a pH of 8.3 with a low concentration of minerals making it highly refreshing and rejuvenating. There is also a higher than normal concentration of salicylic acid, which acts as an anti-inflammatory and a mild anti biotic, making bathing or showering here a great treatment for skin conditions such as psoriasis, eczema, or arthritis.</p>
                </li>
                <li>
                    <p class="faq-question">When were you founded?</p>
                    <p class="faq-answer">We have just exceeded 80 years of running the resort and introducing travellers from all over the world to the healing qualities of Nunisi’s rivers and mountain air, having been founded in 1940.</p>
                </li>
                <li>
                    <p class="faq-question">Is there a minimum age for getting a massage?</p>
                    <p class="faq-answer">Our massages are child-friendly and can help your children with many things ranging from bad posture to sunken arches, though we do recommend that children be over the age of 5 years.</p>
                </li>
                <li>
                    <p class="faq-question">Are there operating times on the rope way to access the resort?</p>
                    <p class="faq-answer">The ropeway operates between the hours of 09:00am and 23:00pm. Should you require to use it when it is on the other side of the river, please find one of our friendly members of staff and we can have it sent across for you. We ensure that the ropeway is available to guests when they arrive if an arrival time is agreed upon beforehand.</p>
                </li>
                <li>
                    <p class="faq-question">Is there any evening entertainment?</p>
                    <p class="faq-answer">Yes, we provide an outdoor bar and relaxation area including a bonfire for the colder months. Activities including discos, movies, and games are put on daily. There is also a billiards table available to guests.</p>
                </li>
                <li>
                    <p class="faq-question">Are pets allowed at the resort?</p>
                    <p class="faq-answer">We welcome guests with pets, however please be aware that there are resort cats and dogs in the hotel grounds so please ensure that your pet behaves well and gets along well with other pets.</p>
                </li>
                <li>
                    <p class="faq-question">Can infants come free of charge?</p>
                    <p class="faq-answer">Yes, we welcome guests with young children. You can bring your infant up to the age of 2 at no extra cost.</p>
                </li>
                <li>
                    <p class="faq-question">Do you offer any special packages or deals?</p>
                    <p class="faq-answer">Yes, we routinely offer deals to new and revisiting customers. Further details are released on our Facebook and Instagram pages. Alternatively you can sign up to our newsletter on your accounts page to never miss out on a deal.</p>
                </li>
                <li>
                    <p class="faq-question">How can I contact the hotel for more information or assistance?</p>
                    <p class="faq-answer">All contact details for the hotel can be found at the bottom of every page on this website.</p>
                </li>
                <li>
                    <p class="faq-question">What is your cancellation policy?</p>
                    <p class="faq-answer">You may cancel your reservation for a full refund up to 7 days before your stay. After that there is a 10% deposit fee up until 24 hours before your booked stay and a 20% deposit fee if you cancel within 24 hours of your booked stay.</p>
                </li>
            </ul>
        </div>
    </div>
</div>