<header id="index-header" class="navbar navbar-expand-lg bg-nunisi-gold border-dark-gold">
    <div class="container-fluid">
        <button id="index-burger-nav" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-links">
                <li class="index-nav-item">
                    <a class="nav-link" aria-current="page" href="#index-about-us">{{ header_link_about_us }}</a>
                </li>
                <li class="index-nav-item">
                    <a class="nav-link" aria-current="page" href="#index-water">{{ header_link_nunisi_water }}</a>
                </li>
                <li class="index-nav-item">
                    <a class="nav-link" aria-current="page" href="#index-spa">{{ spa_title }}</a>
                </li>
                <li class="index-nav-item">
                    <a class="nav-link" aria-current="page" href="#index-location-container">{{ location_title }}</a>
                </li>
            </ul>
        </div>
    </div>
</header>