<div class="container" id="index-location">
    <div class="row">
        <div class="col-12 col-lg-6 location-info">
            <div class="location-background">
            </div>
            <h2 class="section-title">Location</h2>
            <p class="section-text">Our hotel is accessible by car following directions to the location date provided here. Alternatively, there is a train from Tbilisi that stops at a station nearby and we can arrange collection or a taxi to bring you the rest of the way. Access to the resort itself is via a cable car over the river Nunisitskali.</p>
        </div>
        <div class="col-12 col-lg-6 location-map-div">
            <!--Map-->
            <div>
                <iframe 
                id="location-map"
                title="Nunisi Forest Hotel and Spa Map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1518388.7461929556!2d42.66607699937413!3d41.987332327209145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40434975bb81cdc9%3A0xdeb6f561bb0e19e5!2sNunisi%20forest%20Hotel%26%20SPA!5e0!3m2!1sen!2sge!4v1730103298117!5m2!1sen!2sge"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</div>
<hr class="index-horizontal-rule">