<div class="container-fluid" id="index-packages">
    <h2>Packages</h2>
    <div class="row g-0">
        <div class="col-12 row index-package-card">
            <div class="col-12 package-title">
                <h3>Medical Package</h3>
            </div>
            <div class="col-12 col-md-6">
                <ul class="package-list">
                    <li>
                        <span class="package-icon"><i class="fa-solid fa-bed"></i></span> One week of hotel accommodation
                    </li>
                    <li>
                        <span class="package-icon"><i class="fa-solid fa-house-medical"></i></span> Dermatologist consultation
                    </li>
                    <li>
                        <span class="package-icon"><i class="fa-solid fa-house-medical"></i></span> Wellness procedure of 2 showers and 10 baths
                    </li>
                </ul>
            </div>
            <div class="cold-12 col-md-6">
                <ul class="package-list">
                    <li>
                        <i class="fa-solid fa-utensils"></i> Three meals a day
                    </li>
                    <li>
                        <i class="fa-solid fa-mountain-sun"></i> Morning exercise with instructor
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <p>2000 GEL</p>
            </div>
        </div>
    </div>
</div>