<div class="container-fluid" id="index-packages">
    <!--Packages-->
    <div class="packages-container">
        <!--Section title-->
        <h2 class="index-packages-title">{{ packages_title }}</h2>
        <div class="row g-0">
            <!--Medical Package-->
            <div class="col-12 row index-package-card">
                <!--Package title-->
                <div class="col-12 package-title">
                    <h3>{{ packages_medical_title }}</h3>
                </div>
                <div class="col-12 col-md-6">
                    <!--Package list - left hand-->
                    <ul class="package-list">
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-bed"></i></span> {{ packages_accomm_one_week }}
                        </li>
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-suitcase-medical"></i></span> {{ packages_derma }}
                        </li>
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-water"></i></span> {{ packages_wellness }}
                        </li>
                    </ul>
                </div>
                <!--Package list - right hand-->
                <div class="cold-12 col-md-6">
                    <ul class="package-list">
                        <li>
                            <i class="fa-solid fa-utensils"></i> {{ packages_food }}
                        </li>
                        <li>
                            <i class="fa-solid fa-mountain-sun"></i> {{ packages_morning_exercise }}
                        </li>
                    </ul>
                </div>
                <!--Package cost-->
                <div class="col-12 index-packages-cost">
                    <p>2000 GEL</p>
                </div>
            </div>
            <!--Wellness Recreational Package-->
            <div class="col-12 row index-package-card">
                <!--Package title-->
                <div class="col-12 package-title">
                    <h3>{{ packages_wellness_title }}</h3>
                </div>
                <div class="col-12 col-md-6">
                    <!--Package list - left hand-->
                    <ul class="package-list">
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-bed"></i></span> {{ packages_accomm_one_week }}
                        </li>
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-suitcase-medical"></i></span> {{ packages_derma }}
                        </li>
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-water"></i></span> {{ packages_mineral_pool_procedures }}
                        </li>
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-spa"></i></span> {{ packages_massage }}
                        </li>
                    </ul>
                </div>
                <!--Package list - right hand-->
                <div class="cold-12 col-md-6">
                    <ul class="package-list">
                        <li>
                            <i class="fa-solid fa-utensils"></i> {{ packages_food }}
                        </li>
                        <li>
                            <i class="fa-solid fa-mountain-sun"></i> {{ packages_morning_exercise }}
                        </li>
                        <li>
                            <i class="fa-solid fa-person-hiking"></i> {{ packages_hike }}
                        </li>
                        <li>
                            <i class="fa-solid fa-horse"></i> {{ packages_horse }}
                        </li>
                        <li>
                            <i class="fa-solid fa-fish"></i> {{ packages_fishing }}
                        </li>
                    </ul>
                </div>
                <!--Package cost-->
                <div class="col-12 index-packages-cost">
                    <p>2300 GEL</p>
                </div>
            </div>
            <!--Esthetic Retreat Package-->
            <div class="col-12 row index-package-card">
                <!--Package title-->
                <div class="col-12 package-title">
                    <h3>{{ packages_esthetic_title }}</h3>
                </div>
                <div class="col-12 col-md-6">
                    <!--Package list - left hand-->
                    <ul class="package-list">
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-bed"></i></span> {{ packages_accomm_one_week }}
                        </li>
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-suitcase-medical"></i></span> {{ packages_derma }}
                        </li>
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-water"></i></span> {{ packages_skin }}
                        </li>
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-spa"></i></span> {{ packages_facial_massage }}
                        </li>
                    </ul>
                </div>
                <!--Package list - right hand-->
                <div class="cold-12 col-md-6">
                    <ul class="package-list">
                        <li>
                            <i class="fa-solid fa-utensils"></i> {{ packages_food }}
                        </li>
                        <li>
                            <i class="fa-solid fa-mountain-sun"></i> {{ packages_morning_exercise }}
                        </li>
                        <li>
                            <i class="fa-solid fa-person-hiking"></i> {{ packages_hike }}
                        </li>
                        <li>
                            <i class="fa-solid fa-dharmachakra"></i> {{ packages_yoga }}
                        </li>
                    </ul>
                </div>
                <!--Package cost-->
                <div class="col-12 index-packages-cost">
                    <p>2300 GEL</p>
                </div>
            </div>
            <!--Beauty Restoration Package-->
            <div class="col-12 row index-package-card">
                <!--Package title-->
                <div class="col-12 package-title">
                    <h3>{{ packages_beauty_title }}</h3>
                </div>
                <div class="col-12 col-md-6">
                    <!--Package list - left hand-->
                    <ul class="package-list">
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-bed"></i></span> {{ packages_accomm_five_days }}
                        </li>
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-water"></i></span> {{ packages_skin }}
                        </li>
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-spa"></i></span> {{ packages_facial_massage }}
                        </li>
                    </ul>
                </div>
                <!--Package list - right hand-->
                <div class="cold-12 col-md-6">
                    <ul class="package-list">
                        <li>
                            <i class="fa-solid fa-utensils"></i> {{ packages_diet_food }}
                        </li>
                        <li>
                            <i class="fa-solid fa-mountain-sun"></i> {{ packages_morning_evening_exercise }}
                        </li>
                    </ul>
                </div>
                <!--Package cost-->
                <div class="col-12 index-packages-cost">
                    <p>1700 GEL</p>
                </div>
            </div>
            <!--Family Package-->
            <div class="col-12 row index-package-card index-last-package-card">
                <!--Package title-->
                <div class="col-12 package-title">
                    <h3>{{ packages_family_title }}</h3>
                </div>
                <div class="col-12 col-md-6">
                    <!--Package list - left hand-->
                    <ul class="package-list">
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-bed"></i></span> {{ packages_accomm_one_week }}
                        </li>
                        <li>
                            <span class="package-icon"><i class="fa-solid fa-house-medical"></i></span> {{ packages_mineral_pool_access }}
                        </li>
                    </ul>
                </div>
                <!--Package list - right hand-->
                <div class="cold-12 col-md-6">
                    <ul class="package-list">
                        <li>
                            <i class="fa-solid fa-utensils"></i> {{ packages_food_child }}
                        </li>
                        <li>
                            <i class="fa-solid fa-mountain-sun"></i> {{ packages_morning_exercise }}
                        </li>
                        <li>
                            <i class="fa-solid fa-person-hiking"></i> {{ packages_hike }}
                        </li>
                        <li>
                            <i class="fa-solid fa-palette"></i> {{ packages_activities }}
                        </li>
                    </ul>
                </div>
                <!--Package cost-->
                <div class="col-12 index-packages-cost">
                    <p>2600 GEL</p>
                </div>
            </div>
        </div>
    </div>
    <!--Bottom comment-->
    <div class="index-package-comment">
        <p>{{ packages_comment }}</p>
    </div>
</div>