<div id="index-reviews-container">
    <div id="review-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="45000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#review-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#review-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#review-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#review-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#review-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item review-carousel-item active">
                <p class="review-date">23-07-2010</p>
                <p class="review-body">{{ review_1_content|linebreaksbr }}</p>
                <div class="review-name-container">
                    <p class="review-name">{{ review_1_name }}</p>
                </div>
            </div>
            <div class="carousel-item review-carousel-item">
                <p class="review-date">22-07-2010</p>
                <p class="review-body">{{ review_2_content|linebreaksbr }}</p>
                <div class="review-name-container">
                    <p class="review-name">{{ review_2_name }}</p>
                </div>
            </div>
            <div class="carousel-item review-carousel-item">
                <p class="review-date">22-07-2010</p>
                <p class="review-body">{{ review_3_content|linebreaksbr }}</p>
                <div class="review-name-container">
                    <p class="review-name">{{ review_3_name }}</p>
                </div>
            </div>
            <div class="carousel-item review-carousel-item">
                <p class="review-date">22-07-2010</p>
                <p class="review-body">{{ review_4_content|linebreaksbr }}</p>
                <div class="review-name-container">
                    <p class="review-name">{{ review_4_name }}</p>
                </div>
            </div>
            <div class="carousel-item review-carousel-item">
                <p class="review-date">21-07-2010</p>
                <p class="review-body">{{ review_5_content|linebreaksbr }}</p>
                <div class="review-name-container">
                    <p class="review-name">{{ review_5_name }}</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#review-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#review-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>