<div id="index-services">
    <h2 class="section-title">Services</h2>
    <div id="resortServiceCarousel" class="carousel slide">
        <div class="carousel-inner">
            <!--Services Card Water-->
            <div class="carousel-item active">
                <div class="card services-card">
                    <div class="row g-0">
                        <div class="col-md-4 services-card-image-container">
                            <img src="{{ MEDIA_URL }}services-water.webp" class="img-fluid rounded-start services-card-image" alt="An image of a relaxing forest river" loading="lazy">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="card-title services-card-title">Bathing In Nunisi Waters</h2>
                                <p class="card-text services-card-text">Immerse yourself in nature’s healing at Nunisi with soothing river baths or refreshing showers in our unique, mineral-rich waters. Our healing water, abundant in natural salicylic acid, offers gentle relief and rejuvenation for many skin conditions, leaving your skin feeling renewed and revitalized. Discover the beauty of wellness directly from the source, where ancient springs provide a tranquil escape and restorative experience.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Card Massage-->
            <div class="carousel-item">
                <div class="card services-card">
                    <div class="row g-0">
                        <div class="col-md-4 services-card-image-container">
                            <img src="{{ MEDIA_URL }}services-massage.webp" class="img-fluid rounded-start services-card-image" alt="An image of a relaxing massage" loading="lazy">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="card-title services-card-title">Full Body Massage</h2>
                                <p class="card-text services-card-text">Enhance your healing experience with a professional full-body massage, expertly designed to complement the benefits of Nunisi’s mineral-rich waters. Following your river bath or healing shower, our skilled therapists use soothing techniques to release tension, improve circulation, and deepen relaxation. This perfect pairing promotes holistic wellness, leaving you feeling completely rejuvenated—mind, body, and spirit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Card Hike-->
            <div class="carousel-item">
                <div class="card services-card">
                    <div class="row g-0">
                        <div class="col-md-4 services-card-image-container">
                            <img src="{{ MEDIA_URL }}services-hike.webp" class="img-fluid rounded-start services-card-image" alt="An image of a forest from a cave" loading="lazy">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="card-title services-card-title">Guided Forest Hikes</h2>
                                <p class="card-text services-card-text">Embark on serene hikes through the fresh, pine-scented forest air, winding through the lush hills to explore ancient caves where monks once lived and worshipped. These peaceful trails invite you to reconnect with nature, breathe deeply, and step back in time, offering a glimpse into the spiritual history of the land. Let the forest's quiet beauty and the area’s deep heritage enrich your journey and inspire a sense of tranquillity and wonder.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev services-button" type="button" data-bs-target="#resortServiceCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next services-button" type="button" data-bs-target="#resortServiceCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<hr class="index-horizontal-rule">