<div class="container-fluid" id="index-water">
    <div class="row g-0">
        <div class="col-12 water-background-image">
            <img 
                src="{% if DEBUG %}{{ MEDIA_URL }}water_2.webp{% else %}{{ MEDIA_URL }}v1748524815/water_2_csbrun.webp{% endif %}"
                alt="An image of a relaxing forest river"
                loading="lazy"
            >
        </div>
        <div class="col-12 col-lg-6 water-text">
            <h3>{{ water_title }}</h3>
            <p>{{ water_paragraph_1|linebreaksbr }}</p>
            <p>{{ water_paragraph_2 }}</p>
            <a
                href="{% url 'water' %}"
                class="nunisi-button water-button"
                aria-label="Go to our page about Nunisi Water"
            >
                {{ water_button }}
            </a>
        </div>
        <div class="d-none d-lg-block col-6 water-empty-space">
        </div>
    </div>
    <div class="col-12 water-bottom-text">
        <h3>{{ water_title }}</h3>
        <p>{{ water_paragraph_1|linebreaksbr }}</p>
        <p>{{ water_paragraph_2 }}</p>
        <a
            href="{% url 'water' %}"
            class="nunisi-button water-button"
            aria-label="Go to our page about Nunisi Water"
        >
            {{ water_button }}
        </a>
    </div>
</div>