<div class="container-fluid" id="rooms-rooms">
    <!--Packages-->
    <div class="rooms-container">
        <!--Section title-->
        <h2 class="rooms-rooms-title">{{ rooms_title }}</h2>
        <div class="row g-0">
            <!--Standard room-->
            <div class="col-12 row rooms-rooms-card">
                <!--Room title-->
                <div class="col-12 rooms-title">
                    <h3>{{ standard_room_title }}</h3>
                    <p>
                        <i class="fa-solid fa-person"></i>
                        <i class="fa-solid fa-person"></i>
                        {{ room_occupancy_2 }}
                    </p>
                </div>
                <!--Room Image Carousel - Mobile-->
                <div class="col-12 d-md-none rooms-image">
                    <div id="carouselStandardMobile" class="carousel slide carouselRooms" data-bs-ride="false" data-bs-interval="false">
                        <div class="carousel-indicators">
                            {% for image in standard_room_images %}
                                <button 
                                    type="button" 
                                    data-bs-target="#carouselStandardMobile" 
                                    data-bs-slide-to="{{ forloop.counter0 }}" 
                                    class="{% if forloop.first %}active{% endif %}" 
                                    {% if forloop.first %}aria-current="true"{% endif %} 
                                    aria-label="Slide {{ forloop.counter }}">
                                </button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for image in standard_room_images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img 
                                    src="{% if DEBUG %}{{ MEDIA_URL }}{{ image.local }}{% else %}{{ MEDIA_URL }}{{ image.host }}{% endif %}"
                                    class="d-block w-100" 
                                    alt="{{ image.alt }}">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselStandardMobile" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselStandardMobile" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <!--Rooms list - left hand-->
                    <!--Room Description-->
                    <div>
                        <p>{{ standard_room_description }}</p>
                        <p>{{ bathroom_description }}</p>
                    </div>
                    <!--Amenities-->
                    <ul class="rooms-list">
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-bed"></i></span> {{ amenity_bathroom }}
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-snowflake"></i></span> {{ amenity_fridge }} 
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-wifi"></i></span> {{ amenity_wifi }}
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-tv"></i></span> {{ amenity_tv }} 
                        </li>                        
                    </ul>
                </div>
                <!--Room Image Carousel - Desktop-->
                <div class="d-none d-md-block col-md-6 rooms-image">
                    <div id="carouselStandardDesktop" class="carousel slide carouselRooms" data-bs-ride="false" data-bs-interval="false">
                        <div class="carousel-indicators">
                            {% for image in standard_room_images %}
                                <button 
                                    type="button" 
                                    data-bs-target="#carouselStandardDesktop" 
                                    data-bs-slide-to="{{ forloop.counter0 }}" 
                                    class="{% if forloop.first %}active{% endif %}" 
                                    {% if forloop.first %}aria-current="true"{% endif %} 
                                    aria-label="Slide {{ forloop.counter }}">
                                </button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for image in standard_room_images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img 
                                    src="{% if DEBUG %}{{ MEDIA_URL }}{{ image.local }}{% else %}{{ MEDIA_URL }}{{ image.host }}{% endif %}"
                                    class="d-block w-100" 
                                    alt="{{ image.alt }}">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselStandardDesktop" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselStandardDesktop" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <!--Standard twin room balcony-->
            <div class="col-12 row rooms-rooms-card">
                <!--Room title-->
                <div class="col-12 rooms-title">
                    <h3>{{ standard_double_room_title }}</h3>
                    <p>
                        <i class="fa-solid fa-person"></i>
                        <i class="fa-solid fa-person"></i>
                        {{ room_occupancy_2 }}
                    </p>
                </div>
                <!--Room Image Carousel - Mobile-->
                <div class="col-12 d-md-none rooms-image">
                    <div id="carouselTwinMobile" class="carousel slide carouselRooms" data-bs-ride="false" data-bs-interval="false">
                        <div class="carousel-indicators">
                            {% for image in standard_twin_room_images %}
                                <button 
                                    type="button" 
                                    data-bs-target="#carouselTwinMobile" 
                                    data-bs-slide-to="{{ forloop.counter0 }}" 
                                    class="{% if forloop.first %}active{% endif %}" 
                                    {% if forloop.first %}aria-current="true"{% endif %} 
                                    aria-label="Slide {{ forloop.counter }}">
                                </button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for image in standard_twin_room_images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img 
                                    src="{% if DEBUG %}{{ MEDIA_URL }}{{ image.local }}{% else %}{{ MEDIA_URL }}{{ image.host }}{% endif %}"
                                    class="d-block w-100" 
                                    alt="{{ image.alt }}">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTwinMobile" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselTwinMobile" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <!--Rooms list - left hand-->
                    <!--Room Description-->
                    <div>
                        <p>{{ standard_double_room_description }}</p>
                        <p>{{ bathroom_description }}</p>
                    </div>
                    <!--Amenities-->
                    <ul class="rooms-list">
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-bed"></i></span> {{ amenity_bathroom }}
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-snowflake"></i></span> {{ amenity_fridge }} 
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-wifi"></i></span> {{ amenity_wifi }}
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-tv"></i></span> {{ amenity_tv }} 
                        </li>                        
                    </ul>
                </div>
                <!--Room Image Carousel - Desktop-->
                <div class="d-none d-md-block col-md-6 rooms-image">
                    <div id="carouselTwinDesktop" class="carousel slide carouselRooms" data-bs-ride="false" data-bs-interval="false">
                        <div class="carousel-indicators">
                            {% for image in standard_twin_room_images %}
                                <button 
                                    type="button" 
                                    data-bs-target="#carouselTwinDesktop" 
                                    data-bs-slide-to="{{ forloop.counter0 }}" 
                                    class="{% if forloop.first %}active{% endif %}" 
                                    {% if forloop.first %}aria-current="true"{% endif %} 
                                    aria-label="Slide {{ forloop.counter }}">
                                </button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for image in standard_twin_room_images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img 
                                    src="{% if DEBUG %}{{ MEDIA_URL }}{{ image.local }}{% else %}{{ MEDIA_URL }}{{ image.host }}{% endif %}"
                                    class="d-block w-100" 
                                    alt="{{ image.alt }}">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTwinDesktop" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselTwinDesktop" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <!--Panorama Room-->
            <div class="col-12 row rooms-rooms-card">
                <!--Room title-->
                <div class="col-12 rooms-title">
                    <h3>{{ panarama_room_title }}</h3>
                    <p>
                        <i class="fa-solid fa-person"></i>
                        <i class="fa-solid fa-person"></i>
                        {{ room_occupancy_2 }}
                    </p>
                </div>
                <!--Room Image Carousel - Mobile-->
                <div class="col-12 d-md-none rooms-image">
                    <div id="carouselPanoramaMobile" class="carousel slide carouselRooms" data-bs-ride="false" data-bs-interval="false">
                        <div class="carousel-indicators">
                            {% for image in panorama_room_images %}
                                <button 
                                    type="button" 
                                    data-bs-target="#carouselPanoramaMobile" 
                                    data-bs-slide-to="{{ forloop.counter0 }}" 
                                    class="{% if forloop.first %}active{% endif %}" 
                                    {% if forloop.first %}aria-current="true"{% endif %} 
                                    aria-label="Slide {{ forloop.counter }}">
                                </button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for image in panorama_room_images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img 
                                    src="{% if DEBUG %}{{ MEDIA_URL }}{{ image.local }}{% else %}{{ MEDIA_URL }}{{ image.host }}{% endif %}"
                                    class="d-block w-100" 
                                    alt="{{ image.alt }}">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPanoramaMobile" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselPanoramaMobile" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <!--Rooms list - left hand-->
                    <!--Room Description-->
                    <div>
                        <p>{{ standard_double_room_description }}</p>
                        <p>{{ bathroom_description }}</p>
                    </div>
                    <!--Amenities-->
                    <ul class="rooms-list">
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-bed"></i></span> {{ amenity_bathroom }}
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-snowflake"></i></span> {{ amenity_fridge }} 
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-wifi"></i></span> {{ amenity_wifi }}
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-tv"></i></span> {{ amenity_tv }} 
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-satellite-dish"></i></span> {{ amenity_cable }} 
                        </li>                     
                    </ul>
                </div>
                <!--Room Image Carousel - Desktop-->
                <div class="d-none d-md-block col-md-6 rooms-image">
                    <div id="carouselPanoramaDesktop" class="carousel slide carouselRooms" data-bs-ride="false" data-bs-interval="false">
                        <div class="carousel-indicators">
                            {% for image in panorama_room_images %}
                                <button 
                                    type="button" 
                                    data-bs-target="#carouselPanoramaDesktop" 
                                    data-bs-slide-to="{{ forloop.counter0 }}" 
                                    class="{% if forloop.first %}active{% endif %}" 
                                    {% if forloop.first %}aria-current="true"{% endif %} 
                                    aria-label="Slide {{ forloop.counter }}">
                                </button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for image in panorama_room_images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img 
                                    src="{% if DEBUG %}{{ MEDIA_URL }}{{ image.local }}{% else %}{{ MEDIA_URL }}{{ image.host }}{% endif %}"
                                    class="d-block w-100" 
                                    alt="{{ image.alt }}">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPanoramaDesktop" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselPanoramaDesktop" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <!--Suite-->
            <div class="col-12 row rooms-rooms-card">
                <!--Room title-->
                <div class="col-12 rooms-title">
                    <h3>{{ suite_room_title }}</h3>
                    <p>
                        <i class="fa-solid fa-person"></i>
                        <i class="fa-solid fa-person"></i>
                        <i class="fa-solid fa-person"></i>
                        <i class="fa-solid fa-person"></i>
                        {{ room_occupancy_4 }}
                    </p>
                </div>
                <!--Room Image Carousel - Mobile-->
                <div class="col-12 d-md-none rooms-image">
                    <div id="carouselSuiteMobile" class="carousel slide carouselRooms" data-bs-ride="false" data-bs-interval="false">
                        <div class="carousel-indicators">
                            {% for image in suite_images %}
                                <button 
                                    type="button" 
                                    data-bs-target="#carouselSuiteMobile" 
                                    data-bs-slide-to="{{ forloop.counter0 }}" 
                                    class="{% if forloop.first %}active{% endif %}" 
                                    {% if forloop.first %}aria-current="true"{% endif %} 
                                    aria-label="Slide {{ forloop.counter }}">
                                </button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for image in suite_images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img 
                                    src="{% if DEBUG %}{{ MEDIA_URL }}{{ image.local }}{% else %}{{ MEDIA_URL }}{{ image.host }}{% endif %}"
                                    class="d-block w-100" 
                                    alt="{{ image.alt }}">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselSuiteMobile" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselSuiteMobile" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <!--Rooms list - left hand-->
                    <!--Room Description-->
                    <div>
                        <p>{{ suite_room_description }}</p>
                        <p>{{ bathroom_description_suite }}</p>
                    </div>
                    <!--Amenities-->
                    <ul class="rooms-list">
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-bed"></i></span> {{ amenity_bathroom }}
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-snowflake"></i></span> {{ amenity_fridge }} 
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-wifi"></i></span> {{ amenity_wifi }}
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-tv"></i></span> {{ amenity_tv }} 
                        </li>                   
                    </ul>
                </div>
                <!--Room Image Carousel - Desktop-->
                <div class="d-none d-md-block col-md-6 rooms-image">
                    <div id="carouselSuiteDesktop" class="carousel slide carouselRooms" data-bs-ride="false" data-bs-interval="false">
                        <div class="carousel-indicators">
                            {% for image in suite_images %}
                                <button 
                                    type="button" 
                                    data-bs-target="#carouselSuiteDesktop" 
                                    data-bs-slide-to="{{ forloop.counter0 }}" 
                                    class="{% if forloop.first %}active{% endif %}" 
                                    {% if forloop.first %}aria-current="true"{% endif %} 
                                    aria-label="Slide {{ forloop.counter }}">
                                </button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for image in suite_images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img 
                                    src="{% if DEBUG %}{{ MEDIA_URL }}{{ image.local }}{% else %}{{ MEDIA_URL }}{{ image.host }}{% endif %}"
                                    class="d-block w-100" 
                                    alt="{{ image.alt }}">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselSuiteDesktop" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselSuiteDesktop" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <!--Family room-->
            <div class="col-12 row rooms-rooms-card rooms-last-rooms-card">
                <!--Room title-->
                <div class="col-12 rooms-title">
                    <h3>{{ family_room_title }}</h3>
                    <p>
                        <i class="fa-solid fa-person"></i>
                        <i class="fa-solid fa-person"></i>
                        <i class="fa-solid fa-person"></i>
                        <i class="fa-solid fa-person"></i>
                        <i class="fa-solid fa-person"></i>
                        {{ room_occupancy_5 }}
                    </p>
                </div>
                <!--Room Image Carousel - Mobile-->
                <div class="col-12 d-md-none rooms-image">
                    <div id="carouselFamilyMobile" class="carousel slide carouselRooms" data-bs-ride="false" data-bs-interval="false">
                        <div class="carousel-indicators">
                            {% for image in family_room_images %}
                                <button 
                                    type="button" 
                                    data-bs-target="#carouselFamilyMobile" 
                                    data-bs-slide-to="{{ forloop.counter0 }}" 
                                    class="{% if forloop.first %}active{% endif %}" 
                                    {% if forloop.first %}aria-current="true"{% endif %} 
                                    aria-label="Slide {{ forloop.counter }}">
                                </button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for image in family_room_images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img 
                                    src="{% if DEBUG %}{{ MEDIA_URL }}{{ image.local }}{% else %}{{ MEDIA_URL }}{{ image.host }}{% endif %}"
                                    class="d-block w-100" 
                                    alt="{{ image.alt }}">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFamilyMobile" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselFamilyMobile" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <!--Rooms list - left hand-->
                    <!--Room Description-->
                    <div>
                        <p>{{ family_room_description }}</p>
                        <p>{{ bathroom_description }}</p>
                    </div>
                    <!--Amenities-->
                    <ul class="rooms-list">
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-bed"></i></span> {{ amenity_bathroom }}
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-snowflake"></i></span> {{ amenity_fridge }} 
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-wifi"></i></span> {{ amenity_wifi }}
                        </li>
                        <li>
                            <span class="rooms-icon"><i class="fa-solid fa-tv"></i></span> {{ amenity_tv }} 
                        </li>                   
                    </ul>
                </div>
                <!--Rooms Image Carousel - Desktop-->
                <div class="d-none d-md-block col-md-6 rooms-image">
                    <div id="carouselFamilyDesktop" class="carousel slide carouselRooms" data-bs-ride="false" data-bs-interval="false">
                        <div class="carousel-indicators">
                            {% for image in family_room_images %}
                                <button 
                                    type="button" 
                                    data-bs-target="#carouselFamilyDesktop" 
                                    data-bs-slide-to="{{ forloop.counter0 }}" 
                                    class="{% if forloop.first %}active{% endif %}" 
                                    {% if forloop.first %}aria-current="true"{% endif %} 
                                    aria-label="Slide {{ forloop.counter }}">
                                </button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for image in family_room_images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img 
                                    src="{% if DEBUG %}{{ MEDIA_URL }}{{ image.local }}{% else %}{{ MEDIA_URL }}{{ image.host }}{% endif %}"
                                    class="d-block w-100" 
                                    alt="{{ image.alt }}">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFamilyDesktop" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselFamilyDesktop" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

