<nav class="navbar navbar-light bg-nunisi-green padding-zero" id="top-nav">
    <div class="containter w-100">
        <div class="row w-100">
            <!--Site Logo-->
            <div class="col-6 col-lg-auto text-left site-logo-container padding-zero">
                <a class="navbar-brand" href="{% url 'homepage' %}">
                    <img src="{{ MEDIA_URL }}nunisi-site-logo.png" alt="Nunisi Forest Hotel and Spa Logo" id="site-logo-nav" loading="lazy">
                </a>
            </div>
        </div>
    </div>
</nav>