{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE|default:'ka' }}">
    <head>
        <!--Block for meta information that can be expanded upon-->
        {% block meta %}
            <meta charset="utf-8">
            <!--Avoid compatability issues with internet explorer-->	
            <meta http-equiv="X-UA-Compatible" content="ie=edge">

            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!--Keywords-->
            <meta name="keywords" content="Nunisi forest hotel, spa resort Georgia, therapeutic waters Georgia, relaxing spa Georgia, natural healing waters, forest resort Georgia, eco resort Georgia, wellness retreat, spa in nature, therapeutic spa Georgia, mineral waters Georgia, forest spa retreat, luxury spa Georgia, Georgia resort, Nunisi therapeutic spa, eco-friendly hotel Georgia, relaxation in nature, forest vacation, Georgia spa hotels, wellness tourism Georgia">

            <meta name="description" content="Escape to Nunisi Forest Hotel & Spa in Georgia for a rejuvenating retreat. Enjoy natural therapeutic waters and serene forest views.">
            <meta name="author" content="Adam Michael Fairley">
        {% endblock %}
        <!--Block for page specific extra meta information-->
        {% block extra_meta %}
        {% endblock %}
        <!--SEO Language targetting-->
        <link rel="alternate" href="https://www.nunisi.ge/en/" hreflang="en" />
        <link rel="alternate" href="https://www.nunisi.ge/ka/" hreflang="ka" />
        <!--Page title for the browser tab with a block to add page specific titles-->
        <title>Nunisi Forest Hotel and Spa{% block extra_title %}{% endblock %}</title>
        <!--CSS block-->
        {% block corecss %}
            <!--Bootstrap link-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
            <!--Static CSS files-->
            <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
            <!--Favicon-->
            <link 
                rel="apple-touch-icon"
                sizes="180x180"
                href="{% if DEBUG %}{{ MEDIA_URL }}favicon/apple-touch-icon.png{% else %}{{ MEDIA_URL }}v1742992894/apple-touch-icon_eyexn9.png{% endif %}"

            >
            <link 
                rel="icon"
                type="image/png"
                sizes="32x32"
                href="{% if DEBUG %}{{ MEDIA_URL }}favicon/favicon-32x32.png{% else %}{{ MEDIA_URL }}v1742992894/favicon-32x32_qtwto0.png{% endif %}"

            >
            <link 
                rel="icon"
                type="image/png"
                sizes="16x16"
                href="{% if DEBUG %}{{ MEDIA_URL }}favicon/favicon-16x16.png{% else %}{{ MEDIA_URL }}v1742992894/favicon-16x16_eeqpdx.png{% endif %}"

            >
            <link 
                rel="manifest"
                href="{% if DEBUG %}{{ MEDIA_URL }}favicon/site.webmanifest{% else %}{{ MEDIA_URL }}v1742992893/site_xofzlp.webmanifest{% endif %}"
            >
        {% endblock %}
        {% block extra_css %}
        {% endblock %}
        <!-- JavaScript blocks -->
        {% block corejs %}
            <!-- Bootstrap JavaScript link-->
            <!-- Put here so that they are loaded as early as possible -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <!-- Fontawesome link -->
            <script src="https://kit.fontawesome.com/e1041abfbd.js" crossorigin="anonymous"></script>
            <!-- JQuery -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {% endblock %}
        {% block extra_js %}
        {% endblock %}
        <!--Google Analytics-->
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-W0WCHRJJC6"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-W0WCHRJJC6');
        </script>
        <!--SEO-->
        {% if LANGUAGE_CODE == "en" %}
            <!-- English JSON-LD -->
            <script type="application/ld+json">
            {
                "@context": {
                    "@vocab": "https://schema.org/",
                    "@language": "en"
                },
                "@type": "Hotel",
                "name": "Nunisi Forest Hotel and Spa",
                "image": [
                    "https://res.cloudinary.com/dzqdkxssx/image/upload/f_auto,q_auto/v1742992503/nunisi-site-logo_y0xeta.png",
                    "https://res.cloudinary.com/dzqdkxssx/image/upload/f_auto,q_auto/v1747244369/main_house_day_ui6vtj.webp",
                    "https://res.cloudinary.com/dzqdkxssx/image/upload/f_auto,q_auto/v1749619991/bench_dv6t39.webp"
                ],
                "description": "Nestled in the forests of Kharagauli, Nunisi Forest Hotel and Spa offers natural mineral water treatments, modern rooms, and authentic Georgian hospitality.",
                "url": "https://www.nunisi.ge/en/",
                "telephone": "+995599225580",
                "email": "nunisi2002@gmail.com",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "10 Cereteli Street, Borough",
                    "addressLocality": "Kharagauli",
                    "addressCountry": "GE"
                },
                "amenityFeature": [
                    { "@type": "LocationFeatureSpecification", "name": "Spa", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "Free WiFi", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "Mineral Water Baths", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "Massage Service", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "Mountain View", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "Forest View", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "Breakfast Included", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "Buffet Breakfast", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "Laundry Service", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "Children's Playground", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "Shuttle Service", "value": true }
                ],
                "checkinTime": "14:00",
                "checkoutTime": "12:00",
                "starRating": {
                    "@type": "Rating",
                    "ratingValue": "3",
                    "bestRating": "5"
                },
                "priceRange": "$$",
                "geo": {
                    "@type": "GeoCoordinates",
                    "latitude": 41.95071,
                    "longitude": 43.41029
                },
                "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "4.7",
                    "reviewCount": "43",
                    "bestRating": "5"
                },
                "sameAs": [
                    "https://www.facebook.com/NunisiResort",
                    "https://www.instagram.com/nunisi_forest_hotel_and_spa/"
                ]
            }
            </script>
        {% elif LANGUAGE_CODE == "ka" %}
            <!-- Georgian JSON-LD -->
            <script type="application/ld+json">
            {
                "@context": {
                    "@vocab": "https://schema.org/",
                    "@language": "ka"
                },
                "@type": "Hotel",
                "name": "ნუნისი სპა და ტყის რეზორტი",
                "image": [
                    "https://res.cloudinary.com/dzqdkxssx/image/upload/f_auto,q_auto/v1742992503/nunisi-site-logo_y0xeta.png",
                    "https://res.cloudinary.com/dzqdkxssx/image/upload/f_auto,q_auto/v1747244369/main_house_day_ui6vtj.webp",
                    "https://res.cloudinary.com/dzqdkxssx/image/upload/f_auto,q_auto/v1749619991/bench_dv6t39.webp"
                ],
                "description": "მდებარეობს ხარაგაულის ტყეებში, ნუნისის ტყის სასტუმრო და სპა სთავაზობს ბუნებრივ მინერალურ წყლის პროცედურებს, თანამედროვე ოთახებს და ნამდვილ ქართულ სტუმარ-მასპინძლობას.",
                "url": "https://www.nunisi.ge/ka/",
                "telephone": "+995599225580",
                "email": "nunisi2002@gmail.com",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "ჩერეთელის 10, ბოროჯი",
                    "addressLocality": "ხარაგაული",
                    "addressCountry": "GE"
                },
                "amenityFeature": [
                    { "@type": "LocationFeatureSpecification", "name": "სპა", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "უფასო WiFi", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "მინერალური აბაზანები", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "მასაჟის სერვისი", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "მთის ხედები", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "ტყის ხედები", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "საუზმე შედის", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "ბუფეტური საუზმე", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "სარეცხის სერვისი", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "ბავშვთა სათამაშო მოედანი", "value": true },
                    { "@type": "LocationFeatureSpecification", "name": "შატლ სერვისი", "value": true }
                ],
                "checkinTime": "14:00",
                "checkoutTime": "12:00",
                "starRating": {
                    "@type": "Rating",
                    "ratingValue": "3",
                    "bestRating": "5"
                },
                "priceRange": "$$",
                "geo": {
                    "@type": "GeoCoordinates",
                    "latitude": 41.95071,
                    "longitude": 43.41029
                },
                "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "4.7",
                    "reviewCount": "43",
                    "bestRating": "5"
                },
                "sameAs": [
                    "https://www.facebook.com/NunisiResort",
                    "https://www.instagram.com/nunisi_forest_hotel_and_spa/"
                ]
            }
            </script>
        {% endif %}
    </head>
    <body>
        <!--Navigation bar and header-->
        <header>
            {% include 'includes/header.html' %}
            {% block header_content %}
            {% endblock %}
        </header>
        <!--Main page content-->
        {% block main_content %}
        {% endblock %}
        <!--Footer-->
        <footer class="footer container-fluid bg-nunisi-green">
            {% include 'includes/footer.html' %}
            {% block footer_content %}
            {% endblock %}
        </footer>
        <!--Post load JavaScript block-->
        {% block postloadjs %}
        {% endblock %}
    </body>
</html>