/* ---------- Fonts ---------- */
/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jost&family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@700&family=Cormorant+Garamond:ital,wght@0,700;1,700&family=Playfair+Display+SC:ital,wght@0,700;1,700&family=Prata&family=Staatliches&family=Tenor+Sans&family=Unbounded:wght@700&family=Vollkorn+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

/* ---------- Global styling ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Body size and fixed footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Background colours */
.bg-nunisi-green {
    background-color: #3A6B35;
}

.bg-nunisi-gold {
    background-color: #FFD95B;
}

/* Border colours */
.border-dark-gold {
    border: 1px solid #b88c26;
}








/* Font classes */
.jost-font {
    font-family: Jost, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.caveat-font {
    font-family: Caveat, "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-font {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Font colour classes */
.font-nunisi-gold {
    /* color: #FDD67C; */
    color: #FFD95B;
}

.font-nunisi-green {
    color: #3A6B35;
}

.font-off-black {
    color: #333A3F;
}

.font-off-white {
    color: #F5F5F5;
}

/* Font weight classes */
.font-weight-bolder {
    font-weight: bolder;
}



/* Site background */
.content {
    min-height: calc(100vh - 336px);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1030%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(214%2c 217%2c 178%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c441.213C80.976%2c431.82%2c120.653%2c338.5%2c188.466%2c293.259C254.632%2c249.116%2c346.402%2c244.044%2c392.595%2c179.292C441.636%2c110.548%2c462.039%2c18.587%2c443.127%2c-63.712C424.665%2c-144.052%2c354.749%2c-199.264%2c293.042%2c-253.923C238.087%2c-302.601%2c178.632%2c-349.44%2c106.31%2c-362.057C37.68%2c-374.03%2c-25.548%2c-332.108%2c-94.405%2c-321.514C-177.123%2c-308.787%2c-275.384%2c-348.184%2c-338.802%2c-293.573C-401.698%2c-239.412%2c-385.71%2c-139.244%2c-400.844%2c-57.633C-416.692%2c27.825%2c-465.765%2c117.158%2c-429.628%2c196.204C-393.492%2c275.249%2c-294.329%2c297.45%2c-218.83%2c340.506C-147.636%2c381.106%2c-81.411%2c450.657%2c0%2c441.213' fill='%23cfd3a5'%3e%3c/path%3e%3cpath d='M1440 1243.262C1564.445 1213.644 1626.539 1078.9859999999999 1712.862 984.582 1777.001 914.4390000000001 1841.478 847.838 1880.731 761.275 1919.901 674.896 1925.4940000000001 582.455 1937.854 488.419 1954.9859999999999 358.081 2051.5950000000003 203.969 1967.2350000000001 103.14800000000002 1883.375 2.9249999999999545 1710.412 102.89800000000002 1584.883 66.57499999999999 1460.143 30.480000000000018 1373.291-122.17399999999998 1244.445-106.00099999999998 1116.646-89.95899999999995 1045.435 47.678999999999974 960.941 144.89299999999997 876.318 242.255 742.9 332.321 751.611 461.025 760.574 593.4639999999999 946.261 639.56 1002.556 759.774 1057.943 878.049 980.972 1041.074 1068.594 1137.9189999999999 1156.716 1235.317 1312.223 1273.673 1440 1243.262' fill='%23dde0bf'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1030'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/* Site buttons */
.nunisi-button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #3A6B35;
    background-color: #FDD67C;
    border: 1px solid #333A3F;
    border-radius: 8px;
    padding: 5px 10px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

.nunisi-button:hover {
    border-color: #333A3F;
    color:#FDD67C;
    background-color: #3A6B35;
    box-shadow: 0 0 0 .25rem rgba(253, 214, 142, .75);
    border: 1px solid #333A3F;
}

/* Background colours */




.bg-nunisi-dark-gold {
    background-color: #b88c26;
}

/* Borders */
.border-off-black-3 {
    border: 1px solid #333A3F;
    border-radius: 3%;
}


/* ---------- index.html ---------- */




/* Index horizontal rule */
.index-horizontal-rule {
    color:#3A6B35;
    width: 85%;
    margin: 10px auto;
}

/* Carousels */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-size: 50%, 50%;
  background-color: #3A6B35;
  display:none;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    box-shadow: 0 0 0 .25rem rgba(253, 214, 142, .75);
}

.carousel:hover .carousel-control-prev-icon,
.carousel:hover .carousel-control-next-icon {
    display: inline-block;
}

#resortInformationCarousel .carousel-item {
    transition: transform 5s ease-in-out;
}

/* Resort information section */
#index-resort-image-column {
    display: flex;
    justify-content: center;
}

#index-resort-image-column .carousel-inner,
#index-resort-image-column .carousel-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#index-resort-image-column .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Index services */
.services-card {
    width: 85%;
    max-width: 1200px !important;
    margin: 10px auto;
    background-color: palegoldenrod;
    border: 2px solid #b88c26;
}

.services-card-image-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.services-card-title {
    font-family: Jost, Arial, Helvetica, sans-serif;
    color: #333A3F;
    text-align: center;
}

.services-card-text {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #333A3F;
}


/* ---------- Available Rooms ---------- */
/* Errors */
#available-rooms-error {
    width: 85%;
    max-width: 600px;
    margin: 0 auto;
}

#available-rooms-error p {
    text-align: center;
}

/* Sort dropdown box */
.room-sort-container {
    position: absolute;
    right: 15px;
    display: flex;
    gap: 5px;
    top: 178px;
    width: fit-content;
}

.room-sort-container label {
    padding: 0 5px;
    cursor: pointer;
}

/* Amenity Filter */
#amenity-accordion {
    width: 90%;
    max-width: 1000px;
    margin: 10px auto 20px auto;
}

#amenity-accordion-title button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #FDD67C !important;
    background-color: #3A6B35 !important;
    border: 1px solid #333A3F;
}

.accordion-button::after {
    background-color: #F5F5F5;
    border-radius: 50%;
}

#amenity-accordion-title button:focus {
    box-shadow: 0 0 0 0.25rem rgba(253, 214, 142, .75);
}

.accordion-body {
    padding: 0;
}

#amenity-filter-body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #3A6B35;
    background-color: #FDD67C;
    border: 1px solid #333A3F;
}

#amenity-filter-body i {
    margin-right: 0.5rem;
}

#amenity-filter-body ul {
    margin-bottom: 0;
}

#amenity-choices {
    margin-bottom: 1rem;
    padding: 16px 20px 0 20px;
}

#amenity-filter-button-container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1000px;
}

#amenity-filter-button-div {
    display: flex;
    justify-content: center;
    background-color: #3A6B35;
    border: 1px solid #333A3F;
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: 100%;
}

#amenity-filter-button {
    padding: 0 50px;
    margin: 0.5rem 0;
}

/* Room cards */
.available-room-card {
    width: 90%;
    max-width: 1000px;
    margin: 10px auto 20px auto;
    border: 1px solid #333A3F;
    border-radius: 8px;
}

.available-room-name {
    text-align: center;
    padding-top: 10px;
    font-size: 3rem;
}

.available-room-amenities-title {
    padding-left: 2rem;
}

.available-room-card ul {
    list-style-type: none;
}

.amenity-icon-div {
    text-align: center;
}

.available-room-amenity i{
    color: #3A6B35;
}

.available-room-description {
    width: 90%;
    margin: 5px auto;
}

.room-image-booking-column {
    display: flex;
    flex-direction: column;
    height: auto; 
    padding-left: 0;
    border-left: 1px solid #b88c26;
}

.available-room-image {
    width: 95%;
    margin: 5px auto;
    display: flex;
    border-radius: 8px;
    border: 2px solid #3A6B35;
}

.room-trip-info-div {
    margin-top: auto;
    background-color: #3A6B35;
    border-radius: 8px 8px 8px 0;
}

.available-room-booking-div {
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.available-room-booking-button {
    margin: 5px auto 20px auto;
    display: flex;
}

/*Pagination*/
.page-link {
    color: #FDD67C;
    background-color: #3A6B35;
    display: inline-block;
    transition: transform 0.3s ease;
}

.page-link:focus {
    --bs-pagination-focus-box-shadow: none;
    --bs-pagination-focus-color:#FDD67C;
    --bs-pagination-focus-bg: #3A6B35;
}

.page-link:hover {
    background-color: #3A6B35 !important;
    color: #FDD67C !important;
    transform: scale(1.1);
}

.page-item.active {
    --bs-pagination-active-bg: #FDD67C;
    --bs-pagination-active-border-color: #b88c26;
    --bs-pagination-active-color:#3A6B35;
}
.page-item.active .page-link:hover {
    background-color: #FDD67C !important;
    color: #3A6B35 !important;
    font-weight: normal !important;
}

.disabled .page-link {
    color: #3A6B35;
    background-color: rgba(253, 214, 124, 0.2);
    
}

#no-rooms {
    text-align: center;
    max-width: 95%;
}

/* ---------- Rooms: Superuser ---------- */
#add-room-button-div {
    display: flex;
    justify-content: center;
}

#add-room-button {
    margin: 20px auto;
    padding: 5px;
}

#all-rooms-div {
    width: 95%;
    max-width: 1800px;
    margin: 10px auto;
}

.all-rooms-inner-div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.all-rooms-card-div {
    border: 1px solid #333A3F;
    background-color: #FDD67C;
    border-radius: 8px;
}

.all-rooms-card-title {
    background-color: #3A6B35;
    color:#FDD67C;
    font-family: Jost, Arial, Helvetica, sans-serif;
    border-radius: 8px 8px 0 0;
    border: 1px solid #3A6B35;
    text-align: center;
    padding-top: 0.5rem;
}

.all-rooms-card-body {
    padding: 10px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:#333A3F;
}

.room-detail {
    font-weight: bolder;
}

.all-rooms-image-container {
    text-align: center;
}

.all-rooms-image {
    max-width: 90%;
    border: 2px solid #b88c26;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.all-rooms-button-container {
    background-color: #3A6B35;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #3A6B35;
    border-radius: 0 0 8px 8px;
    padding: 1rem 0;
}

/* ---------- Add/Edit Room ---------- */
.add-edit-room-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-bottom: 1rem;
}

.add-edit-room-submit {
    margin: 20px auto;
    padding: 5px;
}

.add-edit-room-row {
    background-color: #3A6B35;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:#FDD67C;
    max-width: min(95%, 1200px);
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.add-edit-left-column {
    position: relative;
}

.add-edit-left-column::after {
    content: "";
    position: absolute;
    top: 8%;
    right: 0;
    height: 80%;
    border-right: 2px solid #b88c26;
}

.add-edit-room-form p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
  
.add-edit-room-form p label {
    flex: 1;
    text-align: left;
    margin-right: 1em;
}
  
.add-edit-room-form p input,
.add-edit-room-form p select,
.add-edit-room-form p textarea {
    width: 100%;
    flex: 2;
    padding: 0.5em;
    background-color: #FDD67C;
    color: #3A6B35;
    border: 1px solid #b88c26;
}

.add-edit-room-hr {
    background-color: #b88c26;
    opacity: 1;
    border: none;
    height: 3px;
    display: none;
}

#how-to-title {
    text-align: center;
}


/* ---------- Delete Room ---------- */
#delete-room-div {
    width: 95%;
    max-width: 600px;
    margin: 10px auto;
    text-align: center;
}

.delete-message {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:#333A3F;
    font-size: 1.5rem;
}

.delete-room-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-bottom: 1rem;
    max-width: 300px;
    margin: 0 auto;   
}

/* ---------- Checkout ---------- */
/* Page layout */
.checkout-container {
    border: 3px solid #b88c26;
    border-radius: 0.75rem;
    background-color: #FDD67C;
    margin: 1rem auto;
    max-width: 1400px;
}

.checkout-page-block {
    padding: 0;
}

.checkout-section-title {
    font-family: Jost, Arial, Helvetica, sans-serif;
    color:#FDD67C;
    text-align: center;
    background-color: #3A6B35;
    border: 3px solid #3A6B35;
    border-radius: 8px 0 0 0;
    padding-top: 0.5rem;
    border-right: 3px solid #b88c26;
}

.checkout-section-content {
    padding: 1rem;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #333A3F;
}

/* Payment form */
#payment-form label {
    color: #333A3F;
    text-align: left;
    width: 30%;
    font-weight: bolder;
}

#payment-form input,
#payment-form select {
    color: #FDD67C;
    background-color: #3A6B35;
    font-weight: bolder;
    width: 65%;
}

#save-info-div input {
    left: 1rem;
    width: fit-content;
}

#card-element {
    border: 1px solid #b88c26;
}

/* Order summary */
.order-summary-section-title {
    border-radius: 0 8px 0 0 !important;
    border-right: none;
}

.order-summary-image-div {
    text-align: center;
    padding: 1rem;
}

.order-summary-image-div img {
    width: 95%;
}

.order-summary-info {
    padding: 5px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:#333A3F;
}

.order-summary-p {
    font-weight: bolder;
}

.order-summary-data {
    font-weight: lighter;
}

/* ---------- Stripe CSS ---------- */
/* Card element */
#card-element {
    background-color: #f5f5f5;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    border: 3px solid #333A3F;
    padding: 0;
    max-width: 90%;
    margin: 10px auto;
    height: fit-content;
}

#card-errors {
    border-radius: 8px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #CF1020;
    color:#F5F5F5;
}

#card-errors span {
    margin: 5px;
}

/* Loading overlay */
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, 0.85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.stripe-comment {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    color:#333A3F;
}

.stripe-comment a {
    font-weight: bolder;
}

/* ---------- Checkout success ---------- */
#checkout-success-div {
    width: 1200px;
    max-width: 95%;
    margin: 2rem auto;
    border: 3px solid #b88c26;
    border-radius: 8px;
    padding: 20px;
    background-color: #FDD67C;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:#333A3F;
    overflow-wrap: break-word;
}

.home-button-container {
    width: fit-content;
    height: fit-content;
    overflow: visible;
    margin: 1rem auto;
}

/* ---------- User Profile ---------- */
/* user_profile.html */
#user-profile-table {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:#333A3F;
    max-width: 90%;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    border: 2px solid #b88c26;
    border-radius: 8px;
}

.user-profile-table-top-row th{
    border-radius: 8px 0 0 0;
}

.user-profile-table-top-row td {
    border-radius: 0 8px 0 0;
}

.user-profile-table-bottom-row th{
    border-radius: 0 0 0 8px;
}

.user-profile-table-bottom-row td {
    border-radius: 0 0 8px 0;
}

.user-profile-button-div {
    max-width: min(600px, 95%);
    margin: 0.5rem auto;
}

.user-profile-button-div a {
    width: fit-content;
}

.delete-profile-button a {
    width: fit-content;
}

.delete-profile-button {
    position: absolute;
    right: 15px;
    display: flex;
    gap: 5px;
    top: 178px;
    width: fit-content;
    height: fit-content;
}

.account-page-spacer {
    height: 0.5rem;
}

/* edit profile */
.edit-profile-div {
    max-width: 600px;
    width: 90%;
    margin: 1rem auto;
    border: 1px solid #b88c26;
    border-radius: 8px;
    padding: 0.5rem;
    background-color: #3A6B35;
}

#edit-profile-form {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#edit-profile-form label {
    width: 30%;
    color: #FDD67C;
}

#edit-profile-form input,
#edit-profile-form select {
    width: 65%;
    background-color: #FDD67C;
    color: #3A6B35;
}

#edit-profile-form #id_newsletter {
    width: fit-content;
    margin-left: 0.5rem;
}

/* Delete user */
.confirm-delete-profile-buttons {
    width: 500px;
    max-width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    margin-top: 2rem;
}

/* ---------- Trips ---------- */
#no-trips-message {
    text-align: center;
}

.trips-page-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.upcoming-trips-row,
.past-trips-row {
    margin:1rem 0;
}

.trips-section-title {
    background-color: #3A6B35;
    font-family: Jost, Arial, Helvetica, sans-serif;
    color:#FDD67C;
    font-size: 2rem;
    text-align: center;
    border-radius: 8px;
}

.trips-container {
    background-color: #3A6B35;
    padding: 0;
    border-radius: 8px;
}

.trip-card {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #FDD67C;
    margin: 1rem;
    border-radius: 8px;
}

.trips-header {
    padding: 0.5rem;
    border-bottom: 2px solid #3A6B35;
    align-items: center;
}

.trips-header-left p,
.trips-header-right p {
    margin: 0;
}

.trips-header-left {
    margin: 0;
    padding-left: 0.5rem;
}

.trips-header-right {
    text-align: right;
    padding-right: 0.5rem;
}

.trips-label {
    font-weight: bolder;
}

.trip-room-name {
    font-family: Caveat, "Brush Script MT", cursive;
    font-size: 2rem;
    text-align: center;
}

.trip-description,
.trip-amenities,
.trip-guests-div {
    padding: 0.5rem;
}

.trip-amenities ul, 
.trip-guests-div ul {
    list-style-type: none;
}

.trip-cancel-div,
.trip-add-review-div {
    background-color: #b88c26;
    width: 50%;
    text-align: center;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border-radius: 1rem;
}

.trip-cancel-button {
    width: fit-content;
}

.cancelled-trip {
    color: #f5f5f5;
    background-color: #CF1020;
    border-radius: 8px;
    border: 1px solid #333A3F;
    margin: 0.5rem auto;
    width: 80%;
    text-align: center;
}

.home-button {
    margin-bottom: 1rem;
    width: fit-content;
}

.past-trips-section-title {
    background-color: #3A6B35;
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
    height: auto;
    padding: 1.5rem 0;
}

.past-trips-section-title h2 {
    font-family: Jost, Arial, Helvetica, sans-serif;
    color:#FDD67C;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

.past-trips-sort {
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 10px;
}

.past-trips-sort label{
    margin-bottom: 0.5rem;
}

.leave-review-button {
    width: fit-content;
    margin-bottom: 0.5rem;
}

#past-trips-pagination {
    margin-top: 1rem;
}

/* ---------- Cancel Trip ---------- */
.cancel-trip-card {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #FDD67C;
    margin: 1rem;
    border-radius: 8px;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #3A6B35;
    margin-bottom: 1rem;
}

.cancel-trip-card .trips-header{
    width: 100%;
    margin: 0 auto;
}

.trip-cancellation-form {
    padding: 0.5rem;
}

.trip-cancellation-form textarea {
    margin: 1rem 0;
}

.trip-cancellation-form textarea:focus {
    box-shadow: 0 0 0 .25rem rgba(58,107,53,.25);
    border-color: #3A6B35;    
}

.trip-cancel-boilerplate {
    font-size: smaller;
    color:#333A3F;
}

/* ---------- Trip cancellation success ---------- */
.cancellation-request-message {
    width: 1200px;
    max-width: 95%;
    margin: 2rem auto;
    border: 3px solid #b88c26;
    border-radius: 8px;
    padding: 20px;
    background-color: #FDD67C;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:#333A3F;
}

/* ---------- Review ---------- */
.review {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    border-radius: 8px;
    background-color: #3A6B35;
    color: #FDD67C;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 80%;
    height: auto;
}

.review-header {
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

.review-verified {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    text-align: center;
    background-color: #FDD67C;
    color: #3A6B35;
    border-radius: 50%;
}

.edit-review-button {
    height: fit-content;
    width: 30%;
    min-width: fit-content;
}

/* ---------- Add/edit review ---------- */
.add-edit-review-content {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #FDD67C;
    text-align: center;
    width: 1000px;
    max-width: 95%;
    margin: 1rem auto;
    background-color: #3A6B35;
    border-radius: 8px;
    padding: 1rem;
}

.add-edit-review-form label {
    font-weight: bolder;
}

#id_content {
    display: block;
    width: 90%;
    margin: 0.5rem auto;
    border-radius: 8px;
    padding: 0.5rem;
}

#id_rating {
    width: fit-content;
    margin: 0 auto;
}

.review-rating {
    display: flex;
    gap: 0.5rem;
}

.delete-review-button {
    position: absolute;
    right: 15px;
    display: flex;
    gap: 5px;
    top: 178px;
    width: fit-content;
    height: fit-content;
}

#deleteReviewModal {
    border: 3px solid #333A3F;
    border-radius: 8px;
}

#deleteReviewModal .modal-content {
    background-color: #3A6B35;
}

#deleteReviewModal .modal-header {
    font-family: Jost, Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #3A6B35;
    color: #FDD67C;
    border: 1px solid #3A6B35;
}

#deleteReviewModal .modal-header button {
    background-color: #FDD67C;
}

#deleteReviewModal .modal-body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #FDD67C;
    color: #3A6B35;
    text-align: center;
    margin: 0 1rem;
    border-radius: 8px;
}

#deleteReviewModal .modal-footer {
    background-color: #3A6B35;
    border: 1px solid #3A6B35;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#deleteReviewModal .nunisi-button {
    margin: 0;
}

/* Reviews carousel */
#reviewCarousel {
    height: auto;
    margin-bottom: 1rem;
}

.review-carousel-text {
    text-align: center;
    padding: 20px;
    background-color: #3A6B35;
    border: 1px solid #b88c26;
    border-radius: 8px;
    margin: 10px auto;
    max-width: 600px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.review-carousel-text h3 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #FDD67C !important;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}
.review-carousel-text h4 {
    margin: 0;
    font-family: Caveat, "Brush Script MT", cursive;
    color: #FDD67C !important;
    font-size: 1.75rem;
    overflow: auto;
    height: 150px;
    max-height: 150px;
}

/* ---------- Superuser Trips ---------- */
.master-trips-table {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    width: 95%;
    margin: 0.5rem auto;
    max-width: 1500px;
    border: 1px solid #333A3F;
}

.master-trips-table .table-title {
    text-align: center;
}

.master-trips-table tbody {
    text-align: center;
}

/* ---------- Page errors ---------- */
.page-error-message {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:#333A3F;
    margin: 0 auto;
    max-width: min(500px, 90%);
    text-align: center;
}

/* ---------- Media-queries ---------- */
@media (min-width: 992px) {
    /* Scroll offset for index header: desktop */
    /* html {
        scroll-behavior: smooth;
        scroll-padding-top: 60px;
    } */
}

@media (max-width: 992px) {
    /* Scroll offsex for index header: mobile */
    /* html {
        scroll-behavior: smooth;
        scroll-padding-top: 270px;
    } */
    
    /*Change footer height */
    .footer {
        height: 130px;
    }

    /* Update content height */
    .content {
        min-height: calc(100vh - 298px);
    }

    /*Index: add space above about us title */
    #index-info-title {
        margin-top: 10px;
    }

    /*Index: gap between location info and map */
    .location-info {
        margin-bottom: 10px;
    }

    /*Update border for available room cards */
    .room-image-booking-column {
        padding-left: 12px;
        border-left: none;
    }

    .room-trip-info-div {
        border-radius: 0 0 8px 8px;
    }

    .available-room-image {
        margin-bottom: 1rem;
    }
}

@media (max-width: 800px) {
    /*Move sort box below title on available rooms*/
    /*2.15rem is the size of the h1 text*/
    /*Same for delete review button */
    /*Same for delete profile button */
    .room-sort-container,
    .delete-review-button,
    .delete-profile-button {
        top: calc(190px + 2.15rem);
    }

    /*Move the amenity filter down*/
    #amenity-accordion {
        margin-top: calc(22px + 2.15rem);
    }

    /*Move edit review content down*/
    .edit-review-content {
        margin-top: calc(22px + 2.15rem);
    }
    
    /*Move the profile table down*/
    #user-profile-table {
        margin-top: calc(22px + 2.15rem);
    }   
}

@media (max-width: 760px) {
    /*Update hero text*/
    #hero-title {
        font-size: 3rem;
    }
}

@media (min-width: 768px) {
    /*Checkout page border between payment and order summary*/
    #checkout-page-payment-block {
        border-right: none;
    }
    #checkout-page-order-summary-block {
        border-left: none;
    }
}

@media (max-width: 767px) {
    /*Index page service card */
    .services-card-image-container {
        width: 95%;
        margin: 0 auto;
    }
    
    /*Add edit room middle border*/
    .add-edit-left-column::after {
        border-right: none;
        border-bottom: 1px solid #b88c26;
    }

    /* Add edit room show horizontal rule */
    .add-edit-room-hr {
        display: inline-block;
    }

    /*Change section title borders on checkout page */
    .checkout-section-title {
        border-radius: 8px 8px 0 0;
        border-right: none;
    }

    .order-summary-section-title {
        border-radius: 0 0 0 0 !important;
    }

    /*Add screen size warning to all trips page*/
    .screen-size-warning {
        display: block !important;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        color: #333A3F;
        font-weight: bolder;
    }
}

@media (max-width: 410px) {
    /*Update hero text*/
    #hero-title {
        font-size: 2.5rem;
    }

    #hero-message {
        font-size: 1.5rem;
    }

    /* Update developer info div size */
    .developer-info-div p {
        font-size: 0.8rem;
    }

    /* Reduce text size in the user profile table */
    #user-profile-table {
        font-size: smaller;
    }

    /*Move past trips sort filter to next line*/
    .past-trips-sort {
        display: inline-block;
        right: 10px;
    }

    .past-trips-section-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .past-trips-section-title h2 {
        position: static;
        transform: none;
        margin-bottom: 10px; /* Add spacing between title and dropdown */
    }

    .past-trips-sort {
        position: static;
        transform: none;
        width: fit-content;
        left: 0px;
    }

    .past-trips-sort label {
        right: 0;
        height: fit-content;
    }
}