/* About Us Section */
#index-about-us{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    position: relative;
    max-width: 2200px;
}

/* Background Image */
.about-us-background-image {
    position: relative;
}

.about-us-background-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Empty space and Text */
.about-us-empty-space,
.about-us-text {
    position: absolute;
    height: 100%;
}

.about-us-empty-space {
    left: 0;
}

.about-us-text {
    right: 0;
}

.about-us-text {
    color: white;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.about-us-text h3 {
    font-family: Parisienne, 'Brush Script MT', 'Lucida Handwriting', cursive;
    color: #FFD95B;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    text-shadow: 
        2px 2px 0px #333A3F,
        -1px -1px 0px #333A3F,
        -1px 1px 0px #333A3F,
        1px 1px 0px #333A3F;
}

.about-us-text p {
    font-family: Karla, Arial, Helvetica, sans-serif;
    color: #f5f5f5;
    font-weight: 300;
    font-size: 1rem;
    align-items: baseline;
}

.about-us-bottom-text {
    display: none;
    background-color: #FAF3DF;
}

.about-us-bottom-text h3 {
    font-family: Parisienne, 'Brush Script MT', 'Lucida Handwriting', cursive;
    font-size: 1.5rem;
    text-align: center;
    color: #333A3F;
    width: 100%;
}

.about-us-bottom-text p {
    font-family: Karla, Arial, Helvetica, sans-serif;
    color: #333A3F;
    font-size: 1rem;
}

/* Carousel */
#aboutUsCarousel .carousel-nav-buttons {
    margin-top: 1rem;
}

#aboutUsCarousel .carousel-nav-buttons button {
    font-family: 'Tenor sans', 'Gill Sans', 'Trebuchet MS', sans-serif;
    color: #333A3F;
    letter-spacing: -0.5px;
    background-color: #FAF3DF;
    border-radius: 1rem;
    border: 1px solid #333A3F;
    font-size: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

#aboutUsCarousel .carousel-nav-buttons button:hover {
    color: #3A6B35;
    box-shadow: none;
    background-color: #FFD95B;
    border: 1px solid #333A3F;
}

.carousel.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.carousel-nav-buttons button {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

@media (max-width: 1100px) {
    /*Update text size*/
    .about-us-text p {
        font-size: 1rem;
    }

    .about-us-text h3 {
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width: 990px) {
    /* Update image size */
    .about-us-background-image img {
        height: 500px;
    }
}

@media (max-width: 600px) {
    /*Remove text div */
    .about-us-text {
        display: none;
    }

    /*Show text below*/
    .about-us-bottom-text {
        display: block;
        height: fit-content;
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
    }
}