/* Lock the header to the top */
#index-header {
    position: sticky !important;
    top: 0;
    z-index: 1000;
}

/* Burger Navigation */
#index-burger-nav {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #3A6B35;
    border: solid 2px #3A6B35;
    height: auto;
}

.navbar-toggler-icon {
    color: #3A6B35;
}

/* Page Navigation Links */
.navbar-links {
    font-family: 'Cormorant Garamond';
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-size: 1rem;
}

.nav-link{
    color: #3A6B35 !important;
    position: relative;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link::after {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 8px;
    width: 0;
    background-color: #3A6B35;
    transition: width 0.3s ease;
    height: 2px;
}

.nav-link:hover::after {
    width: 80%; 
}

/* Scroll off-set the header*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 2.25rem;
}

@media (max-width: 992px) {
    /*Burger menu navigation links*/
    .navbar-links {
        font-size: 1rem !important;
    }

    /*Navigation link underline effect*/
    .nav-link::after {
        content: ''; 
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        background-color: #3A6B35;
        transition: width 0.3s ease;
        height: 2px;
    }
    .nav-link:hover::after {
        width: 100%; 
    }

    /* Scroll offset for index header: mobile */
    html {
        scroll-padding-top:10rem !important;
    }
}