#index-header {
    position: sticky !important     ;
    top: 0;
    min-height: 2rem;
    z-index: 1000;
}

.navbar-links {
    font-family: Caveat, "Brush Script MT", cursive;
    font-size: 1.5rem;
}

.index-nav-item a{
    color: #3A6B35 !important;
    font-weight: bolder;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.index-nav-item a::after {
    content: ''; 
    position: absolute;
    bottom: 12px;
    left: 8px;
    width: 0;
    background-color: #3A6B35;
    transition: width 0.3s ease;
    height: 3px;
}

.index-nav-item a:hover::after {
    width: 80%; 
}

#index-burger-nav {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #3A6B35;
    border: solid 2px #3A6B35;
}

.navbar-toggler-icon {
    color: #3A6B35;
}

/* Scroll off-set */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 53px;
}

@media (max-width: 992px) {
    /*Burger menu navigation links*/
    .navbar-links {
        font-family: Jost, Arial, Helvetica, sans-serif !important;
        font-size: 1rem !important;
    }

    /*Navigation link underline effect*/
    .index-nav-item a::after {
        content: ''; 
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 0;
        background-color: #3A6B35;
        transition: width 0.3s ease;
        height: 3px;
    }
    .index-nav-item a:hover::after {
        width: 100%; 
    }

    /* Scroll offset for index header: mobile */
    html {
        scroll-padding-top: 230px;
    }
}

